include README.md
include LICENSE
include CHANGELOG.md
include setup.sh
graft config
graft filters
graft extensions
graft updocs
prune __pycache__
prune updocs/image
recursive-exclude *.pyc
recursive-exclude *.pyo
prune .git
