include README.md
include LICENSE
include CHANGELOG.md
include setup.sh
graft config
graft filters
graft extensions
graft updocs
prune updocs/image
prune .git
prune extensions/langchain/dist
prune extensions/langchain/ming_probe_langchain.egg-info
global-exclude __pycache__
global-exclude *.pyc
global-exclude *.pyo

# Security: exclude runtime data from packaging
recursive-exclude src/plugins/web_dashboard data.json
recursive-exclude src/plugins/web_dashboard triage_snapshot.json
